
.record-radio {
    background-color: #4a9c7b4b;
    color: #cacaca;
}

.record-radio:hover {
    background-color: #4a9c7b;
    color:black;
}

.btn-primary {
    color: white;
}

.btn-primary:hover {
    color: white;
}
#successMessage {
    color: green;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: opacity 2s ease-in-out;
}