{% load widget_tweaks %}
{% load static %}
{% block content %}

<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-12">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" placeholder="Account name" aria-label="Account name" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="row">
            <label for="" class="form-label">Initial Balance</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Amount" placeholder="0" style="width:70%;" aria-describedby="basic-addon2">
                <select
                    class="form-select"
                    name=""
                    id=""
                    style=""
                >
                    <option selected>Currency</option>
                    {% include 'currency_list.html' %}
                </select>
                
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="" class="form-label">Type</label>
                <select
                    class="form-select"
                    name=""
                    id=""
                >
                    <option selected>Select one</option>
                    <option value="">Cash</option>
                    <option value="">Bank Account</option>
                    <option value="">Prepaid Card</option>
                    <option value="">Savings</option>
                    <option value="">Investment</option>
                </select>
            </div>
            <div class="mb-3 col-6">
                <label for="" class="form-label">Color</label>
                <input type="color" class="form-control form-control-color" id="exampleColorInput" value="#6ee8b7" title="Choose your color" style="width:100%;">
            </div>
        </div>
    </form>
</div>

{% endblock %}