{% load widget_tweaks %}
{% load static %}
{% block content %}

    {% comment %} choosing category should lead to the option of adding a new category {% endcomment %}
    <div class="container">
        <form id="recordform" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="d-flex justify-content-center mb-3" id="record-type">
                    <div
                        class="btn-group"
                        role="group"
                        aria-label="Basic checkbox toggle button group"
                    >
                        <input
                            type="radio"
                            class="btn-check"
                            name="btnradio"
                            id="expense"
                            autocomplete="off"
                            checked
                        />
                        <label
                            class="btn btn-outline-primary"
                            for="expense"
                            >Expense</label
                        >
                    
                        <input
                            type="radio"
                            class="btn-check"
                            name="btnradio"
                            id="income"
                            autocomplete="off"
                        />
                        <label
                            class="btn btn-outline-primary"
                            for="income"
                            >Income</label
                        >
                    
                        <input
                            type="radio"
                            class="btn-check"
                            name="btnradio"
                            id="btncheck3"
                            autocomplete="off"
                            disabled
                        />
                        <label
                            class="btn btn-outline-primary"
                            for="btncheck3"
                            >Transfer (soon!)</label
                        >
                    </div>
                    
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <label for="" class="form-label">Category</label>
                    <div class="input-group mb-3">
                        <select
                            class="form-select"
                            name=""
                            id="categorydropdown"
                        >
                            <option selected>Select one</option>
                            <option value="">Shopping</option>
                            <option value="">Food</option>
                            <option value="">Transportation</option>
                        </select>
                        <button  class="btn btn-primary dropdown-toggle dropdown-left" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            New
                        </button>
                        <div class="dropdown-menu">
                            <form class="">
                                <div class="mb-3 container">
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <label for="newCategory" class="form-label">Name:</label>
                                            <input type="text" class="form-control" id="categoryName" placeholder="Enter category name">
                                        </div>
                                        <div class="col-6">
                                            <label for="" class="form-label"> Color:</label>
                                            <input type="color" class="form-control form-control-color" id="categoryColor" value="#6ee8b7" title="Choose your color">
                                        </div>
                                    </div>
                                    <button id="category-btn" type="button" class="btn btn-primary">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <label for="" class="form-label">Account</label>
                    <select
                        class="form-select"
                        name=""
                        id="accountdropdown"
                    >
                        <option selected>Select one</option>
                        <option value="">Cash</option>
                        <option value="">Telda</option>
                        <option value="">Banque Misr</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <label for="" class="form-label">Amount</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="sign">-</span>
                    <input id="amount" type="text" class="form-control" placeholder="0" aria-label="Amount" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2">EGP</span>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="" class="form-label">Date</label>
                    <input id="date" type="date" class="form-control" placeholder="Date" aria-label="Note" aria-describedby="basic-addon2">
                </div>
                <div class="mb-3 col-6">
                    <label for="" class="form-label">Time</label>
                    <input id="time" type="time" class="form-control" placeholder="Time" aria-label="Note" aria-describedby="basic-addon2">
                </div>
            </div>
        </form>
        <div class="alert alert-success fade" role="alert">
            A simple success alert—check it out!
          </div>
    </div>

{% endblock %}