{% load widget_tweaks %}
{% load static %}
{% block content %}

    {% comment %} choosing category should lead to the option of adding a new category {% endcomment %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="d-flex justify-content-center mb-3" id="record-type">
                    <div
                        class="btn-group"
                        role="group"
                        aria-label="Basic checkbox toggle button group"
                    >
                        <input
                            type="radio"
                            class="btn-check"
                            name="btnradio"
                            id="btncheck1"
                            autocomplete="off"
                            checked
                        />
                        <label
                            class="btn btn-outline-primary"
                            for="btncheck1"
                            >Expense</label
                        >
                    
                        <input
                            type="radio"
                            class="btn-check"
                            name="btnradio"
                            id="btncheck2"
                            autocomplete="off"
                        />
                        <label
                            class="btn btn-outline-primary"
                            for="btncheck2"
                            >Income</label
                        >
                    
                        <input
                            type="radio"
                            class="btn-check"
                            name="btnradio"
                            id="btncheck3"
                            autocomplete="off"
                            disabled
                        />
                        <label
                            class="btn btn-outline-primary"
                            for="btncheck3"
                            >Transfer (soon!)</label
                        >
                    </div>
                    
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <label for="" class="form-label">Account</label>
                    <select
                        class="form-select"
                        name=""
                        id=""
                    >
                        <option selected>Select one</option>
                        <option value="">Cash</option>
                        <option value="">Telda</option>
                        <option value="">Banque Misr</option>
                    </select>
                </div>
                <div class="col-6">
                    <label for="" class="form-label">Category</label>
                    <select
                        class="form-select"
                        name=""
                        id=""
                    >
                        <option selected>Select one</option>
                        <option value="">Shopping</option>
                        <option value="">Food</option>
                        <option value="">Transportation</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <label for="" class="form-label">Amount</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">-</span>
                    <input type="text" class="form-control" placeholder="0" aria-label="Amount" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2">EGP</span>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-6">
                    <input type="date" class="form-control" placeholder="Date" aria-label="Note" aria-describedby="basic-addon2">
                </div>
                <div class="mb-3 col-6">
                    <input type="time" class="form-control" placeholder="Time" aria-label="Note" aria-describedby="basic-addon2">
                </div>
            </div>
        </form>
    </div>

{% endblock %}