{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Analytics</title>
</head>
<body>
    <div class="container">
        <div class="row p-3 justify-content-center">
            <div class="container">
                <div class="row p-3 justify-content-center">
                    <div class="card border-none justify-content-center">
                        <div class="card-body">
                            <div class="col-4 text-start">
                                <h4 class="card-title">Expenses report</h4>
                            </div>
                            <div class="row p-3 justify-content-center">
                                <div class="col-2 text-start">
                                    <form method="post">
                                        {% csrf_token %}
                                        {% comment %} {{ form.as_p }} {% endcomment %}
                                        <label for="period">Period:</label>
                                        {% render_field form.period class+="form-select" id="period" onchange="initialize(this.value)" %}
                                        {% comment %} <button type="submit" class="btn btn-primary">Submit</button> {% endcomment %}
                                     </form>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-3 justify-content-center">
            <div class="col-12 text-start">
                <div
                    class="table-responsive-lg"
                >
                    <table
                        class="table table-striped table-hover align-middle"
                    >
                        <thead>
                            <thead>
                                <tr>
                                    <th scope="col">Category</th>
                                    <th scope="col">Expenses</th>
                                    <th scope="col">Income</th>
                                    <th scope="col">Cash Flow</th>
                                </tr>
                            </thead>
                            
                        </thead>
                        <tbody id="analytics_tbody">
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/analytics.js' %}"></script>
</body>
</html>
{% endblock %}
