{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top margin-bottom: 10vh;">
    <div class="container-fluid">
        <div class="text-center">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/SPENDEE_dark.svg' %}" width=200 alt="Spendee logo"> 
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        dropdown
                    </a>
                    <ul class="dropdown-menu" id="cat-dropdown">
                        <li><a class="dropdown-item" href="#">Placeholder1</a></li>
                        <li><a class="dropdown-item" href="#">Placeholder2</a></li>
                        <li><a class="dropdown-item" href="#">Placeholder3</a></li>
                        <li><a class="dropdown-item" href="#">Placeholder4</a></li>
                        <li><a class="dropdown-item" href="#">Placeholder5</a></li>
                        <li><a class="dropdown-item" href="#">Placeholder6</a></li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-nav me-1 mb-2 mb-lg-auto align-center">
                <li class="nav-item mx-lg-2">
                    <div class="d-grid gap-2">
                        <button type="button" name="" id="" class="btn btn-secondary">
                            Add record
                        </button>
                    </div>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item mx-lg-2">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-outline-light" type="submit">Logout</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item mx-lg-2">
                    <a class="btn btn-outline-light" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<script src="{% static 'js/navbar.js' %}"></script>