{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
<title>Sign up</title>
</head>

<body>
  <main> 
    <!-- Sign up -->
    <div class="card" style="width:100%; align-self:center; position: relative;">
        <img src="{% static "img/background.png" %}" class="card-img-top" 
        alt="welcome picture" style="width: 100%; height: calc(100vh - 58px); object-fit: cover;">
        <div style="position: absolute; top: 0; left: 0; color: white; padding: 10px; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; background: rgba(5, 5, 5, 0.9);">
                <div class="row">
                    <div class="col-12" style="font-size:small;">
                        <div class="card text-start">
                          <div class="card-body">
                            <form method = "POST">
                                {% csrf_token %}
                                <h1 class="card-title">Create a new account</h1> 
                                <hr>
                                <div class="row">
                                  <div class="my-0">
                                    <label for="" class="form-label"><h5>Username:</h5></label>
                                    {% render_field form.username placeholder="username" class="form-control" id="username" %}
                                    {% if form.username.errors %}
                                      {% for error in form.username.errors %}
                                        <div class="alert alert-danger form-alert my-2" role="alert">
                                          {{ error }}
                                        </div>
                                      {% endfor %}
                                    {% endif %}
                                </div>
                                </div>
                                
                                <div class="row my-3">
                                  <label for="" class="form-label"><h5>Email</h5></label>
                                  {% render_field form.email type="email" id="email" placeholder="email@example.com" class+="form-control" %}
                                </div>
                                <div class="row my-3">
                                    <label for="" class="form-label"><h5>Password</h5></label>
                                    {% render_field form.password1 type="password" id="password1" placeholder="Enter your password" class+="form-control my-2" %}
                                    {% if form.password1.errors %}
                                      {% for error in form.password1.errors %}
                                        <div class="alert alert-danger form-alert" role="alert">
                                          {{ error }}
                                        </div>
                                      {% endfor %}
                                    {% endif %}
                                    {% render_field form.password2 type="password" id="password2" placeholder="Reenter your password" class+="form-control my-2" %}
                                    {% if form.password2.errors %}
                                      {% for error in form.password2.errors %}
                                        <div class="alert alert-danger form-alert" role="alert">
                                          {{ error }}
                                        </div>
                                      {% endfor %}
                                    {% endif %}
                                    <div class="row">
                                      <div class="col">
                                          <div class="my-3">
                                              <label for="" class="form-label"><h5>Choose primary currency:</h5></label>
                                              <select
                                              class="form-select"
                                              name="primary_currency"
                                              id="primary_currency"
                                              style=""
                                          >
                                              <option selected>Currency</option>
                                              {% include 'currency_list.html' %}
                                          </select>
                                          </div>
                                      </div>
                                      
                                  </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Sign up</button><hr>
                                <div>
                                    <h6>Already have an account? <a href="{% url 'login' %}">Log In</a></h6>
                                </div>
                            </form>
                            </div>
                          </div>
                    </div>
                </div>
          </div>
    </div>
    <!-- Sign up -->
  </main>

  <footer>
    
  </footer>

  </body>
</html>
{% endblock %}